body {
  margin: 0px;
  background: #FFF7F8;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #C2E812;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
  margin-bottom: 10px;
}

h3 {
  color: #48ACF0;
  text-align: center;
  font-size: 1em;
}

a {
  color: #FFFD98;
  text-decoration: none;
}

nav {
  width: 100%;
}

nav ul {
  margin: 0;
  overflow: hidden;
  background-color: #FF7E6B;
  font-family: 'Patua One', cursive; 
}

li {
  display: inline-block;
  float: auto;
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  display: inline-block;
  font-style: italic;
  /* Skew the box */
  transform: skew(-20deg);
  padding: 15px;
}

li a {
padding: 10px;
background-color: #FFF7F8;
text-decoration:none;
padding: 10px;
padding-left: 35px;
padding-right: 35px;
display: block;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

li a span {
  /* Unskew the text */
  transform: skew(30deg);
  display: inline-block;
  color: #FF7E6B;
}

p {
  padding-left: 30px;
  padding-right: 30px;
  color: #FF7E6B;
}

div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 350px;
}

.selected, .selected:hover {
  background-color: #C2E812;

}

.selectedtext {
  color: #FFF7F8;
}

li a:hover{
    background-color: #FF7E6B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

li a:hover span {
  color: #FFF7F8;
}