body {
  margin: 0px;
  background: #FFF7F8;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #C2E812;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
  margin-bottom: 40px;
}

h3 {
  color: #48ACF0;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: -15px;
}

h4 {
  color: #48ACF0;
  text-align: center;
  font-size: 1.3rem;
}

a {
  color: #48ACF0;
  text-decoration: none;
}

nav {
  width: 100%;
}

nav ul {
  margin: 0px;
  overflow: hidden;
  background-color: #FF7E6B;
  font-family: 'Patua One', cursive; 
  justify-content: center;
  display: flex;
  width: 100%;
  background-image: linear-gradient(-50deg, #ffb6bb, #68008C, #2FE5FF)
}

li {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  /* Skew the box */
  transform: skew(-20deg);
  padding: 25px;
  width: 250px;
}

li a {
padding: 10px;
background-color: #FFF7F8;
text-decoration:none;
display: block;
margin: auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li a span {
  /* Unskew the text */
  transform: skew(30deg);
  display: inline-block;
  color: #FF7E6B;
}

p {
  color: #FF7E6B;
  text-align: center;
  font-size: 1.2rem;
}

div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

img {
  margin: 20px;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 350px;
}

.selected, .selected:hover {
  background-color: #C2E812;
}

.selectedtext {
  color: #FFF7F8;
}

li a:hover{
    background-color: #FF7E6B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-image: linear-gradient(-50deg, #2FE5FF, #68008C, #ffb6bb) */
}

li a:hover span {
  color: #FFF7F8;
}

.icon {
  width: 150px;
}

.playlists2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.playlist2 {
  text-align: center;
  width: 400px;
  
  word-wrap: break-word;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  margin-top: 500px;
}